/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0; /* Adds padding to make the header taller */
    font-size: 1.5rem; /* Adjust font size */
    position: relative; /* Keeps the header fixed at the top */
    top: 0; /* Positions the header at the top */
    width: 100%; /* Ensures the header takes the full width of the page */
    z-index: 1000; /* Keeps it on top of other content */
}

.pill-button {
    background-color: #1F812D;
    
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pill-button a {
    color: whitesmoke;
    text-decoration: none;
}



.pill-button:hover {
    background-color: #14591e;
}  

.pill-button a:hover {
    color: whitesmoke;
    text-decoration: none;
}

header h1 {
    margin: 0; /* Removes default margin from h1 */
}

/* Centering both the image and the heading */
.page-header {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
    text-align: center;
    margin: 0 auto;
}

.page-header img {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
}


.page-header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation */
nav {
    margin: 1rem 0;
    text-align: center;
}

nav a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section Headings */
.container h2 {
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

/* Links */
.container a {
    color: #007BFF;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    height: 30px;
    margin-top: auto;
}

#map {
    height: 400px;
}

.map-container {
    height: 400px;
}
