<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DINO</title>
    <link rel="stylesheet" href="{% static 'dino_app/css/styles.css' %}">
    
    <!-- LEAFLET SECTION -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- ROUTING MACHINE -->
    <link rel="stylesheet" href="{% static 'dino_app/leaflet_routing_machine/leaflet-routing-machine.css' %}" />
    <!-- GEOCODER -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- geotiff -->
    <script src="https://cdn.jsdelivr.net/npm/geotiff"></script>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'dino_app/images/DINO.png' %}" type="image/png">
    <!-- Apple Touch Icon (iOS) -->
    <link rel="apple-touch-icon" href="{% static 'dino_app/images/DINO.png' %}">
</head>
<body>
    <header>
        <h2>Dynamic Integration for Navigating Outdoors</h2>
    </header>
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <footer>
        &copy; 2024 Agata Herman. All rights reserved.
    </footer>
</body>
</html>
