{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
    <div class="page-header">
        <img src="{% static 'dino_app/images/DINO.png' %}" alt="DINO" width="150">
        <h1>Hello, I'm DINO!</h1>
    </div>

{% endblock %}

{% block content %}
    <nav>
        <a href="{% url 'dino_app:new_route' %}">New route</a>
        <a href="{% url 'dino_app:routes' %}">Created routes</a>
        <a href="#contact">Contact</a>
    </nav>
    <div class="container">
        <section id="about">
            <h2>About DINO</h2>
            <p>I'll create a route for You!</p>
        </section>
        <section id="services">
            <h2>My Services</h2>
            <p>Let’s plan an amazing adventure!</p>
        </section>
        <section id="contact">
            <h2>Contact Me</h2>
            <p>Have questions or want to collaborate? Reach out to me via <a href="mailto:your-email@example.com">email</a>.</p>
        </section>
    </div>
{% endblock %}
