{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dino_app:index' %}">Home</a>
</nav>
    <h2>Let's plan another adventure!</h2>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ></script>
    <script src="{% static 'dino_app/leaflet_routing_machine/leaflet-routing-machine.js' %}"></script>

    <form action="{% url 'dino_app:new_route' %}" id="route-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Create</button>

    </form>
    
    <script src="{% static '/dino_app/js/map_functions.js' %}"></script>

{% endblock %}
