{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
    <div class="page-header">
        <img src="{% static 'dino_app/images/DINO.png' %}" alt="DINO" width="150">
        <h1>Hello, I'm DINO!</h1>
    </div>
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dino_app:index' %}">Home</a>
</nav>
    <div class="container">
        <ul>
            <section>
                <h2>New route creation wizard</h2>
                <form action="{% url 'dino_app:new_route' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="submit">Create</button>

                </form>
            </section>
    </div>
{% endblock %} 