{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
    <div class="page-header">
        <img src="{% static 'dino_app/images/DINO.png' %}" alt="DINO" width="150">
        <h1>Hello, I'm DINO!</h1>
    </div>
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dino_app:index' %}">Home</a>
    <a href="{% url 'dino_app:dummy' %}">Dummy</a>
</nav>
    <div class="container">
        <ul>
            <section>
                <h2>Created Routes</h2>
                {% for route in routes %}
                <li>
                        <h3>{{ route.title }}</h3>
                        <p>{{ route.length }} km, {{ route.activity_type }}</p>
                        <p>{{ route.date_added|date:'d M Y, H:i' }}</p>
                </li>
                {% empty %}
                <li>No routes has been created yet.</li>
                {% endfor %}
            </section>
        </ul>
    </div>
{% endblock %}
