{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
    <div class="page-header">
        <img src="{% static 'dino_app/images/DINO.png' %}" alt="DINO" width="150">
        <h1>Hello, I'm DINO!</h1>
    </div>
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dino_app:index' %}">Home</a>
    <a href="{% url 'dino_app:routes' %}">All routes</a>
    <a href="{% url 'dino_app:new_route' %}">New route</a>
</nav>
<!-- h2 elements (and most other elements) don't have a "value". Only elements that behave as form controls have a value property (e.g. the input element) -->
<h2>{{ route.title }}</h2>
<p> {{ route.length }} km, {{ route.activity_type }}</p>
<p>{{ route.date_added|date:'d M Y, H:i' }}</p>

<hr>

<input type="hidden" id="waypoints" value="{{ route.waypoints_list }}">
<input type="hidden" id="trackpoints" value="{{ route.trackpoints_list }}">
<input type="hidden" id="title" value="{{ route.title }}">
<input type="hidden" id="route_id" value="{{ route.id }}">

<div id="map"></div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ></script>
<script src="{% static 'dino_app/leaflet_routing_machine/leaflet-routing-machine.js' %}"></script>

<hr>
<button id="save-gpx-button">Save GPX</button>
<script src="{% static '/dino_app/js/conversion_to_GPX.js' %}"></script>

{% endblock %}
