{% extends "dino_app/base.html" %}

{% block page_header %}
    {% load static %}
    <div class="page-header">
        <img src="{% static 'dino_app/images/DINO.png' %}" alt="DINO" width="150">
        <h1>Hello, I'm DINO!</h1>
    </div>
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dino_app:index' %}">Home</a>
    <a href="{% url 'dino_app:new_route' %}">New route</a>
</nav>
<h1>Created Routes</h1>
    <ul>
        <section>
            {% for route in routes %}
            <li>
                
                    <a href="{% url 'dino_app:route' route.id %}"><h2>{{ route.title }} - {{ route.icon }}</a></h2>
                    <p> {{route.length}} km, {{ route.date_added|date:'d M Y, H:i' }} </p>
                    
            </li>
            {% empty %}
            <li>No routes has been created yet.</li>
            {% endfor %}
        </section>
    </ul>
{% endblock %}
